body {
    max-width: 700px;
    margin: 0 auto;
    margin: 5% auto;
  }

h2 {
    margin-bottom: -0.5rem;
}

a {
    outline: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 300px;
    max-height: 300px;
}

pre {
    white-space: pre-wrap;
}

/* Custom classes */

.row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.title {
    margin-bottom: -1rem;
}

.subtitle {
    margin-bottom: -0.5rem;
}

